/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wen-cta-wrap{
  height: auto;
  overflow: hidden;
}

/* Template : Default  */
.wen-cta-template-default .wen-cta-title{
  font-weight: bold;
  font-size: 20px;
}
.wen-cta-template-default .wen-cta-button-wrap{
  display: block;
}
.wen-cta-template-default .wen-cta-button {
  border: 1px solid #AAA;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

/* Template : Blue Sky  */
.wen-cta-template-blue-sky{
  text-align: center;
}
.wen-cta-template-blue-sky .wen-cta-title{
  color: #225954;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px #84DAD1 solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.wen-cta-template-blue-sky .wen-cta-content{
  color: #225954;
}
.wen-cta-template-blue-sky .wen-cta-button-wrap{
  display: block;
}
.wen-cta-template-blue-sky .wen-cta-button {
  background-color: #84DAD1;
  color: #225954 !important;
  border: 1px solid #225954;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-decoration: none;
}
